<%= erb :"tools/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Instrumental</h1>
  </div>
  
  <blockquote>
    <h3>Instrumental, herramientas y accesorios solicitado y gestionado por el LACIE para incrementar las capacidades en desarrollo para docentes y alumnos, disponible en los laboratorios de electrónica.</h3>
  </blockquote>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Estación de soldado y desoldado regulable (se puede ajustar la temperatura) y regulada (la temperatura que se estableció se mantiene Cte.).Posee tres canales para trabajar simultáneamente con varios de sus mangos. Display digital para calibrar y monitorear la temperatura del canal seleccionado. Punta de soldador intercambiable, lo que facilita el soldado de múltiples encapsulados. Bomba generadora de vació y presión de aire que facilita la extracción de componentes trhu-hole (PTH) y el soldado y desoldado de componentes de montaje superficial (SMD). Mango para soldar con aire caliente y puntas para desoldar encapsulados PQ208.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/MBT250.jpg">
              <img src="/img/tools/thumbnails/MBT250.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Estación PACE MBT 250</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>4 Canales analógicos mas trigger externo. Tasa de muestreo en tiempo real de 1GSa/s por canal. Pantalla TFT (64 k color LCD) de 5.7”, 320 × 240 de resolución. Ancho de banda de 100Mhz. Conectividad USB Device, USB Host, RS-232, Pass/Fail, Out. Funciones matemáticas de suma, resta, producto y FFT. Es el primero y único con 4 canales analógicos que tiene ahora el laboratorio de electrónica.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_DSC07953.jpg">
              <img src="/img/tools/thumbnails/LG_DSC07953.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Osciloscopio DS1104B</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>2 Canales y trigger externo.Tasa de muestreo en tiempo real de 2GSa/s. Pantalla TFT (64 k color LCD) de 5.7”, 320 × 240 de resolución. Ancho de banda 300Mhz. Conectividad USB Device, USB Host, RS-232, Pass/Fail, Out. Funciones matemáticas de suma, resta, producto y FFT. Es actualmente el más rápido que posee el laboratorio de electrónica.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_DSC07944.jpg">
              <img src="/img/tools/thumbnails/LG_DSC07944.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Osciloscopio DS1302CA</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Analizador lógico de 16 canales. 2 Canales analógicos y trigger externo. Tasa de muestreo en tiempo real de 1GSa/s. Pantalla TFT (64 k color LCD) de 5.7”, 320 × 240 de resolución. Modos de trigger, Edge, Video, Pulse Width, Slope, Alternate. Ancho de banda de 100Mhz. Conectividad USB Device, USB Host, RS-232, Pass/Fail, Out. Funciones matemáticas de suma, resta, producto y FFT. Primer instrumento con capacidad para 16 canales digitales.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/osciloscopio16canales.jpg">
              <img src="/img/tools/thumbnails/osciloscopio16canales.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Osciloscopio DS1102D</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Hasta 50 Mhz. 50MHz frequency range, 1uHz Resolution. High 200MSa/s sampling rate. 16-bit Amplitude Resolution. Output from any section of 1M-point-long waveforms. 4.3" high-resolution LCD display. Four ways to generate arbitrary waveforms from Front Panel. Operation, CSV file uploading, Direct Waveform Reconstruction (DWR), Arbitrary Waveform Editing PC Software. USB, RS-232, GPIB interface. No había en el laboratorio de electrónica ningún generador de señales con tanta funcionalidad.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_DSC07956.jpg">
              <img src="/img/tools/thumbnails/LG_DSC07956.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Instek AFG-3051 Arbitrary Function Generator</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>LCD de 18mm, 5 dígitos. Precisión ± 0.05% + 1 digito. Tiempo de muestreo 0,5seg (arriba de 120 RPM). Almacena en memoria valor máximo, valor mínimo y ultimo valor. Rango de medición de 2,5 a 99999 RPM. Resolución de 0,1 RPM para el rango de 2,5 a 999,9 RPM. Resolución de 1 RPM para el rango mayor a 1000 RPM. Distancia de detección entre 50 y 500 mm. Alimentación con baterías doble A. Base de tiempo cristal de 6Mhz. Precisión de la base de tiempo de 10x10-6 entre 0ºC y 50ºC.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_dsc07023.jpg">
              <img src="/img/tools/thumbnails/LG_dsc07023.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>PHOTO TACHOMETER (LASER) DT2234A</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Primer multímetro TRUE RMS del laboratorio de electrónica. Multimetro digital de 20000 cuentas y 4 ½ dígitos. Auto Rating. Amplios rangos de voltajes y corriente DC, desde 200mV a 1000V y desde 200uA a 10A, y AC desde 2V a 1000V y desde 200uA a 10A. Medición de resistencias, diodos y capacitores. Medición de temperatura en grados centígrados y grados Fahrenheit. Medición de frecuencia y de duty cycle. Medición de loop de corriente 4-20mA. Medición de continuidad con notificación sonora. Impedancia de entrada 2.5Gohm para 200mV de DC y 10Mohm para todos los otros rangos. Conectividad USB. Notificación de baja batería.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_dsc07028.jpg">
              <img src="/img/tools/thumbnails/LG_dsc07028.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Multímetro UT71B</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Rango de medición de –200ºC a 1370ºC. Doble entrada, lo que le permite la conexión de dos termocuplas. Display doble, para ver simultáneamente ambas entradas. Auto power off. Interfase RS232 para comunicación con PC. Resolución de 0.1ºC o 0.1ºF. Precisión de ±3% + 1ºC. Protección de entrada de 60V DC o 24V rms. Temperatura de operación desde 0ºC a 50ºC. Alimentados desde una batería de 9V.</td>
        <td>
          <div class="thumbnail">
            <a hrefsrc="/img/tools/full-size/Center301.jpg">
              <img src="/img/tools/thumbnails/Center301.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Termómetro digital CENTER 301 con termocupla tipo K</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Analizador lógico de 32 canales.Más de 100 protocolos disponibles. Análisis de tiempo: 200 MHz. Análisis de estado: 100 MHz. Memoria de captura: 2 Mbits por canal / 64 Mbits total. Salida de sincronización para disparo de osciloscopio. Análisis de señales: SPI, I2C, CAN 2.0B, RS-232C/485/422, LED 7 segmentos. Todos los protocolos disponibles en forma gratuita. Modos de disparo avanzados. Interfase USB 2.0 para conexión a PC y alimentación. Incluye estuche para transporte y puntas de prueba.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_DSC08478.jpg">
              <img src="/img/tools/thumbnails/LG_DSC08478.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>LAP-C 32200</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Tensión de 0 A 30 Volts. Riple&Noise CV ≤1mV (rms). Corriente de 0 a 5 Ampere con salidas limitadas. Salida fija de 5V/1A. Precisión :±1%. Display de 3 y1/2 dígitos LED. Protección contra corto circuitos e inversión de polaridad. Disponibilidad actual en el LACIE de 3 fuentes.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_DSC08470.jpg">
              <img src="/img/tools/thumbnails/LG_DSC08470.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Fuente de alimentación MPS 3005D</h5>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>