<%= erb :"tools/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Kits de desarrollo</h1>
  </div>
  
  <blockquote>
    <h3>Kits de desarrollo, circuitos y accesorios disponibles en el LACIE.</h3>
  </blockquote>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Diseño propio en KICAD disponible para que los alumnos lo repliquen. Con microcontrolador AVR ATMEGA 16/32, entorno de programación y compilador de lenguaje C de software libre.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/AVRRobot1.jpg">
              <img src="/img/tools/thumbnails/AVRRobot1.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Placas Robolucha</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Diseño propio en KICAD disponible para que los alumnos lo repliquen. Programa para el usuario de software libre.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/aprogramadoresavr.jpg">
              <img src="/img/tools/thumbnails/aprogramadoresavr.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Programadores USB para AVR</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>In Circuit Debugger para toda la familia HC908Q de 8 y 16 pines de Freescale. Puerto Serial RS-232C para conexión a la PC . Entornos de trabajo integrado WinIDE / CodeWarrior (hasta versión 6.3) , sobre los cuales se puede programar, emular y editar. Tensión de alimentación de 9 a 16 VDC y batería de 9Vdc.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/f_desarrollo01.jpg">
              <img src="/img/tools/thumbnails/f_desarrollo01.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>EVALQTY</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Programación y emulación en tiempo real de todas las familias Freescale con core HC908. Fácilmente integrable al WinIDE y CodeWarrior de Freescale (hasta versión 6.3). Puerto USB y Serial para comunicación con la PC. Alimentación por medio de fuentes externas de corriente continua o corriente alterna (DC o AC desde 7 a 16V) o por puerto USB. Selección de múltiples fuentes de Osciladores que le permite lograr distintas frecuencia de bus.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/f_flash02.jpg">
              <img src="/img/tools/thumbnails/f_flash02.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>FLASH POD</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Programación y emulación en tiempo real de todas las familias Freescale con core HC9S08, RS08 y ColdFire V1. Fácilmente integrable al IDE CodeWarrior de Freescale (hasta version 6.3). Puerto USB para comunicación y alimentación general. Puede proveer alimentación a la placa bajo desarrollo (300mA) o la recibe de ella. Emulación a un solo hilo (BKGD). Soporta tensiones de VDD del MCU bajo desarrollo desde +1.8V a +5V. Maneja frecuencias de Bus del MCU bajo desarrollo desde 1Mhz a 20Mhz.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/f_rspod12.jpg">
              <img src="/img/tools/thumbnails/f_rspod12.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>RSPOD</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>LCD de 18mm, 5 dígitos. Precisión ± 0.05% + 1 digito. Tiempo de muestreo 0,5seg (arriba de 120 RPM). Almacena en memoria valor máximo, valor mínimo y ultimo valor. Rango de medición de 2,5 a 99999 RPM. Resolución de 0,1 RPM para el rango de 2,5 a 999,9 RPM. Resolución de 1 RPM para el rango mayor a 1000 RPM. Distancia de detección entre 50 y 500 mm. Alimentación con baterías doble A. Base de tiempo cristal de 6Mhz. Precisión de la base de tiempo de 10x10-6 entre 0ºC y 50ºC.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/zigbee.jpg">
              <img src="/img/tools/thumbnails/zigbee.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>PHOTO TACHOMETER (LASER) DT2234A</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Placas de desarrollo que permite el uso del stack Zigbee, IEEE 802.15.4 y propietario para comunicaciones inalámbricas. Alcance de hasta 100 metros en línea de vista. Tase de transmisión de datos bruto de hasta 250Kbps. Placa basada en radio de 2.4GHz MC13192 de Freescale. Tensión de alimentación de 2.4V hasta 3V. Antena dipolo embebida en el circuito impreso. Comunicación a través de interfaz SPI. Conector estándar de paso 0.1” para interfaz SPI y otros pines de la radio.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_dsc07028.jpg">
              <img src="/img/tools/thumbnails/LG_dsc07028.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Antenas Zigbee</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Placa de desarrollo que permite el uso del stack Zigbee, IEEE 802.15.4 y propietario para comunicaciones inalámbricas. Alcance de hasta 100 metros en línea de vista. Tase de transmisión de datos bruto de hasta 250Kbps. Placa basada en radio de 2.4GHz MC13192 y microcontrolador MC9S08GT32 de Freescale. Alimentación de 9V hasta 12V. Antena dipolo embebida en el circuito impreso. Posee una interfaz serial con niveles RS232, pines de entrada-salida (GPIO), lineas A/D, interfaz I2C y serial disponible . Herramienta de programación RS POD disponible en LACIE.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/PZigbee.jpg">
              <img src="/img/tools/thumbnails/PZigbee.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Placa Zigbee</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Cuatribanda 850/1900/900/1800 Mhz. Clase B, Multislot clase 10 (download hasta 85Kbps sobre red GPRS). Interfaz serial full disponible en conector RJ45 con niveles RS232. Alimentación de 9V hasta 30V. Antena GSM/GPRS y cables de comunicación serial disponibles. Fuente de alimentación 12V 1A incluida en el kit.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/Dibujo.jpg">
              <img src="/img/tools/thumbnails/Dibujo.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Modems GSM. Modulo MOTOROLA G24</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Módulo MOTOROLA G24 cuatribanda 850/1900/900/1800 Mhz. Microcontrolador freescale MC9S08GT32 integrado (32Kb Flash 4K Ram). Interfaz serial (pines TX-RX-GND) disponible en conector RJ45 con niveles RS232. Entrada optoacoplada y salida opencolector disponible en conector. Salida con tensión de alimentación controlada disponible en conector. Antena GSM/GPRS, cables de comunicación serial y fuente disponibles.Fuente de alimentación 12V 1A incluida en el kit.Herramienta de programación RS-POD disponible en el LACIE.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/Dibujo1.jpg">
              <img src="/img/tools/thumbnails/Dibujo1.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Modems GSM con Microcontrolador</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sistema de programación y depuración desarrollado por Microchip el cual usa Lógica de in-circuit debugging incorporada dentro de cada una de las memorias flash con el objetivo de proveer un sistema de programación de alta calidad y bajo costo. El pickit 3 permite programar la mayoría de familias de los microcontroladores PIC y los DPSPIC, además de memorias EEPROM de Microchip. USB (Full speed 12 Mbits/s interface to host PC). Ejecución en tiempo real . MPLAB IDE compatible. LEDs indicadores (power, busy, error). Congelamiento de periféricos en Break Point.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/pickit3.jpg">
              <img src="/img/tools/thumbnails/pickit3.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Pickit 3</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Conjunto formado por un ToolStick Debug Adapter (TDA) y CapTouchSense Daugther Card (CTDC). CTDC incluye microcontrolador C8051F931, microcontrolador de ultra bajo consumo. CTDC puede ser alimentada a través de batería incluida en placa o a través del TDA. Pines de expansión disponibles en CTDC. Botones capacitivos implementados en CTDC. ToolStick Debug Adapter puede soportar otras placas Daugther de microcontroladores de Silabs. TDA permite la programación y el debuging de los microcontroladores incluidos en las placas Daugther. Conexión a la PC a través de puerto USB.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/silabs_toolstick.jpg">
              <img src="/img/tools/thumbnails/silabs_toolstick.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>MCU Toolstick de SILABS</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_dsc07502.jpg">
              <img src="/img/tools/thumbnails/LG_dsc07502.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>PLC Twido</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Celda de media capacidad tipo viga para aplicaciones industriales. Tensión máxima 15V.Capacidad 100Kg. Sensibilidad 3mV/V ±1,5%. Resistencia de puente 350 ohm. Largo del cable 5 mts. Material base acero. Grado de protección IPC67</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/celda.jpg">
              <img src="/img/tools/thumbnails/celda.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Celdas de carga</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/sensor_capacitivo.jpg">
              <img src="/img/tools/thumbnails/sensor_capacitivo.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Sensores capacitivos industriales</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/usbaserie.yhttttttttt5rgff
            <div class="caption">
              <h5>Cables USB a serie</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/fuentesycargadores.jpg">
              <img src="/img/tools/thumbnails/fuentesycargadores.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Fuentes simples y cargadores de baterías</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Pensados para comunicación en proyectos que necesiten coordinación a la distancia. Pensados para un alcance que cubra todo el campus universitario.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/handys.jpg">
              <img src="/img/tools/thumbnails/handys.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Handys</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Linux Kernel 2.4.21 incluido. Soporta comunicación TCP/IP. Soporta Protocolo X-Window. Habilidades de dirección remota basada en la web. Interoperabilidad con Windows/Linux/Unix. Redes 10/100 Base T. 2 puertos de USB 2.0. Video de salida sub DB-15 VGA, soporta 15 bits de color, resolución hasta 1024x768. Audio estereo. Soporta USB o mouse PS2/teclado. Utilizado para prácticas de LTSP.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/entc1000.jpg">
              <img src="/img/tools/thumbnails/entc1000.jpg" class="center"  alt="">
            </a>
            <div class="caption">
              <h5>Thin Client ENTC1000</h5>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>