<%= erb :"tools/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Máquinas y herramientas</h1>
  </div>
  
  <blockquote>
    <h3>Máquinas, herramientas y accesorios adquiridos por el LACIE para fomentar la construcción de prototipos electrónicos y robóticos.</h3>
  </blockquote>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Kits de desarrollo</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Herramientas para mecanizado de prototipos, plaquetas, robótica, gabinetes, etc. Agujereadora, amoladora, cizalla, morza, caja de herrramientas, accesorios e insumos básicos.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_dsc07224.jpg">
              <img src="/img/tools/thumbnails/LG_dsc07224.jpg" alt="">
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td>De acceso fácil y organización rápida para los alumnos (sin llenar formularios). Para actividades de prototipado y mecanizado en general.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/tablero.jpg">
              <img src="/img/tools/thumbnails/tablero.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Tablero de herramientas</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Inspección y detección de fallas de circuitos impresos.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/lupa.jpg">
              <img src="/img/tools/thumbnails/lupa.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Lupas con luz para soldadura</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Con gran cantidad de accesorios</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/dremel.jpg">
              <img src="/img/tools/thumbnails/dremel.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Minitorno Dremel</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/workmate.jpg">
              <img src="/img/tools/thumbnails/workmate.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Banco de trabajo Workmate</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Milímetros y pulgadas, para medición de componentes electrónicos.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/calibres.jpg">
              <img src="/img/tools/thumbnails/calibres.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Calibres digitales</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Placas de desarrollo que permite el uso del stack Zigbee, IEEE 802.15.4 y propietario para comunicaciones inalámbricas. Alcance de hasta 100 metros en línea de vista. Tase de transmisión de datos bruto de hasta 250Kbps. Placa basada en radio de 2.4GHz MC13192 de Freescale. Tensión de alimentación de 2.4V hasta 3V. Antena dipolo embebida en el circuito impreso. Comunicación a través de interfaz SPI. Conector estándar de paso 0.1” para interfaz SPI y otros pines de la radio.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/LG_dsc07028.jpg">
              <img src="/img/tools/thumbnails/LG_dsc07028.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Balanza digital</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Para el pesaje de los robots que participan en las competencias de robótica.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/balanzadigital.jpg">
              <img src="/img/tools/thumbnails/balanzadigital.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Placa Zigbee</h5>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>Para realizar circuitos impresos por transferencia térmica e imprimir hojas de datos.</td>
        <td>
          <div class="thumbnail">
            <a href="/img/tools/full-size/impresoralaser.jpg">
              <img src="/img/tools/thumbnails/impresoralaser.jpg" alt="">
            </a>
            <div class="caption">
              <h5>Impresora láser</h5>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>