<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades 2005 y 2006</h1>
  </div>
  
  <blockquote>
    <h3>Organización de seminarios</h3>
  </blockquote>
  <ul>
    <li>24 de Mayo de 2006: "Tecnología de soldado BGA (Ball Grid Array)", por el Sr. Sergio Guberman de la firma Electrocomponentes S.A.</li>
    <li>13 de Julio de 2006 "Tecnología GSM/GPRS", por el Ing. Ignacio Zaradnik de la firma Electrocomponentes S.A.</li>
    <li>7 de Noviembre de 2006 "Microcontroladores de la familia HC", por el Ing. Daniel Di Lella de la firma Electrocomponentes S.A.</li>
  </ul>
  
  <strong>2006</strong>
  <ul>
    <li>Segunda ExpoProyecto UNLaM.</li>
    <li>Desarrollo y fabricación de las placas ROBOPIC y programadores para las mismas. Robopic es una placa con un microcontrolador PIC16F877, opciones de comunicación serie, display LCD, conversor A/D y E/S de propósitos generales. Está acompañada de un programador "incircuit" por línea serie.</li>
    <li>Instalación de GNU/Linux en las PCS del laboratorio.</li>
    <li>Proyecto "Sensores compatibles con ambientes inteligentes aplicado al monitoreo deportivo". Colaboración en la adquisición de materiales, creación de una lista de correo, aporte de ideas, etc. Año 2006.</li>
    <li>Asistencia a las Sextas jornadas regionales de Software Libre realizadas los días 13,14 y 15 de Octubre en la ciudad de Mendoza.</li>
  </ul>
  
  <strong>2005</strong>
  <ul>
    <li>Se crea el LACIE (Un solo participante y algo de ayuda).</li>
    <li>Primera ExpoProyecto UNLaM.</li>
  </ul>
</div>