<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades 2007</h1>
  </div>
  
  <ul>
    <li>Tercera ExpoProyecto UNLaM.</li>
    <li>Adquisición de estación de soldadura SMD y lupa.</li>
    <li>Adquisición de maquinas: Agujereadora, cizalla, morza, piedra y banco de trabajo plegable.</li>
    <li>Montaje de un servidor Debian GNU/Linux para páginas web, impresión y trabajo en grupo.</li>
    <li>Asistencia a las Septimas Jornadas Regionales de Software Libre con una delegación de 4 alumnos y un docente. Se presentaron trabajos realizados dentro del laboratorio abierto sobre SQUID e iTALC. Realizadas 8 al 11 de Agosto de 2007 en la ciudad de Córdoba.</li>
    <li>Recepción de donaciones de: Mecano, kit de desarrollo scilab, programadores Freescale, modems GSM y placas Zigbee.</li>
  </ul>
</div>