<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades 2008</h1>
  </div>
  
  <ul>
    <li>Cuarta ExpoProyecto UNLaM.</li>
    <li>Primera Robolucha UNLaM.</li>
    <li>Participaci칩n en proyectos de I+D: Cuidado de ancianos, Monitoreo Deportivo y Aulas inform치ticas de bajo costo.</li>
    <li>Desarrollo de la placa AVR-ROBOT.</li>
    <li>Se planifica la incorporaci칩n de m치s integrantes del LACIE para 2009.</li>
  </ul>
</div>