<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades 2009</h1>
  </div>
  
  <blockquote>
    <h3>Colaboración y participación en proyectos</h3>
  </blockquote>
  
  <dl>
    <dt>Proyecto CYTMA</dt>
    <dd>Aulas informáticas de bajo costo para escuelas de La Matanza. Estudio, selección y adquisición de Thin clients y servidor, informes, estimación de costos, experiencias en el mundo, demostración en expoproyecto, etc.</dd>
    <dt>Proyecto CYTMA</dt>
    <dd>Monitoreo Deportivo (y cuidado de ancianos). Diseño, desarrollo, construcción y prueba de placa con acelerómetro de tres ejes y microcontrolador AVR, con componentes SMD de montaje superficial. Programación del firmware para transmisión básica de datos mediante radios 802.15. Adquisición de Radios y componentes. Pruebas.</dd>
  </dl>
  

  <blockquote>
    <h3>Colaboración en la organización de EXPOPROYECTO 2009, los días 27,28 y 29 de Octubre</h3>
  </blockquote>
  <ul>
    <li>Estimación de presupuesto, página web del evento.</li>
    <li>Registro formal de proyectos. Se agrega al sistema de registro (desarrollado en 2008), la capacidad de manejar fácilmente una foto demostrativa de cada proyecto.</li>
    <li>Difusión por email, fondo de pantallas, etc.</li>
    <li>Medallas, electricidad y materiales.</li>
    <li>Organización del museo de instrumental, convocando a docentes y habiendo reunido y catalogado una gran cantidad de instrumentos y elementos de informáticos de alto valor histórico. Este museo se realizó con el objetivo de complementar la muestra de RescateRetrobit.</li>
    <li>Convocatoria y coordinación con RescateRetrobit.</li>
    <li>Montaje y transporte de elementos.</li>
    <li>Organización del espacio de la muestra.</li>
    <li>Atención a expositores.</li>
  </ul>
  
  <blockquote>
    <h3>Organización y soporte para la ROBOLUCHA UNLaM (competencia de robots sumo), el 29 de Octubre</h3>
  </blockquote>
  <ul>
    <li>Tribunas, medallas y remeras.</li>
    <li>Tatamis de competencia.</li>
    <li>Soporte y asistencia a los alumnos para la construcción de robots.</li>
    <li>Adquisición de contenedores, placas de aluminio, sensores, cargadores de baterías, baterías, microcontroladores y materiales para los robots en general.</li>
    <li>Coordinación de la asistencia a la <a href="http://www.grsbahiablanca.com.ar/">Competencia Nacional de Robótica en UTN Bahía Blanca</a>. Asistiendo 14 alumnos y 2 docentes.</li>
  </ul>
  
  <ul>
    <li>Seminario práctico sobre GSM.</li>
    <li>Organización del Workshop sobre ARM con participantes entranjeros de la empresa.</li>
    <li>Adquisición de herramientas y componentes.</li>
    <li>Reestructuración del laboratorio 5 para un mejor aprovechamiento del espacio y la creación de un area docente para trabajar en proyectos y desarrollar actividades del LACIE.</li>
    <li>Armado de kits de desarrollo GSM. Se organizaron en cajas kits de desarrollo con modems GSM, de forma tal que los alumnos tengan todo lo necesario para trabajar cuando solicitan una de estas cajas.</li>
  </ul>
  
  <blockquote>
    <h3>Adquisición de Instrumental y componentes</h3>
  </blockquote>
  <ul>
    <li>2 Termómetros digitales con termocupla y comunicación serie. (Promei)</li>
    <li>1 Tacómetro digital.</li>
    <li>1 Tester con comunicación USB. (proyecto cytma)</li>
    <li>1 Celda de carga hasta 100 Kg. (proyecto cytma).</li>
    <li>10 módulos Zigbee (radios 802.15). (proyecto cytma)</li>
    <li>10 acelerómetros de 3 ejes MMA7260 (proyecto cytma).</li>
    <li>Microcontroladores AVR ATMEGA16, ATMEGA32, ATTINY2313, ATMEGA644, etc.</li>
    <li>1 Thin Client ENTC1000 y un servidor LTSP. (proyecto cytma).</li>
    <li>2 Sensores de proximidad industriales capacitivos. (Promei)</li>
    <li>1 PLC TWIDO. (Promei)</li>
  </ul>

  <blockquote>
    <h3>Otras actividades destacadas</h3>
  </blockquote>
  <ul>
    <li>Reparación del banco de trabajo Workmate.</li>
    <li>Desarrollo e implementación de 5 programadores USB para microcontroladores AVR.</li>
    <li>Desarrollo y mejoras a la placa AVR-ROBOT utilizada para la competencia de robots sumo. Se hacen además 5 módulos de interfases serie.</li>
    <li>Desarrollo de circuitos básicos y de bajo costo para sensado de distancias por luz infrarroja y por ultrasonidos. Esto se realiza para apoyar la construcción de robots sumo más inteligentes, brindando un punto de partida para que los alumnos puedan trabajar en mejorar los mismos.</li>
    <li>Selección y recopilación de aplicaciones de software libre de utilidad en las PC de los laboratorios de electrónica. Por ejemplo compiladores de C para PC y para microcontroladores AVR, editores, programadores, herramientas de compresión, edición de documentos y pllanillas de cálculo, edición de imagenes, graficos vectoriales, programas matemáticos, diseño de circuitos, etc. Se armó un CD con este software y se solicitó su instalación en TODAS las PCs de los laboratorios de electrónica.</li>
    <li>Creación de un grupo yahoo para coordinación interna del grupo de trabajo.</li>
    <li>Dos docentes del LACIE presentan formularios para categorización docente.</li>
    <li>Colaboración en la demostración de sumo robot que realizó la UNLaM en Expo Educación & Empleo realizada del 2 al 5 de Septiembre en La Rural. Se colaboró con el transporte de materiales y la organización del Stand. También se hicieron presentes docentes del LACIE para hablar sobre la carrera de electrónica.</li>
    <li>Demostración de Sumo Robot realizada en la EETN2 de San Justo, para la reunión de colegios técnicos, el 9 de Septiembre.</li>
    <li>Mantenimiento de servidor y estaciones de trabajo con sistema operativo GNU/Linux. El servidor se utiliza para páginas web internas, sistemas de registros, cvs, servidor de impresión, servidor de archivos, caché de paquetes debian y sistema CVS de control de versiones.</li>
    <li>Alternativa mas económica, presupuesto, compra de materiales y tramitación de conversión de pizarrones de tiza a fibra. Esto se realiza para evitar el polvo que generan las tizas dentro de los laboratorios, cuidando la salud de las personas y las PCs del laboratorio.</li>
  </ul>
</div>