<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades 2010</h1>
  </div>
  
  <ul>
    <li>Sexta ExpoProyecto UNLaM.</li>
    <li>Tercera Robolucha UNLaM.</li>
    <li>Primer <a href="http://www.cursoplc.com.ar/">curso de PLC</a>, nivel inicial</li>
    <li>Primer Congreso de <a href="http://lacie-unlam.org/uea2010/">Microelectrónica Aplicada</a></li>
    <li><strong>CONGRESO DE MICROELECTRONICA uEA2010</strong> - colaboración activa en la organización. Edición del libro de memorias. Manejo de las revisiones de los trabajos, contacto con los autores, definición del cronograma, mesa de registro de asistentes, publicidad, etc. (Brengi).</li>
    <li><strong>COMPETENCIA NACIONAL DE ROBOTICA 2010 ­ BAHIA BLANCA</strong> - registro de asistentes, inscripciones, rendición de viáticos general, asistencia al evento, coordinación de alumnos participantes, asistencia e infraestructura in-situ previa a la competencia. Asisten 9 alumnos y 2 docentes. (Brengi/Mariño).</li>
    <li><strong>EXPOSICION DE LUCHA DE ROBOTS EN LA EkoParty</strong> - la UNLaM fue invitada a exponer la lucha de robots en modalidad sumo dentro del ámbito de la EkoParty (http://www.ekoparty.org/), una conferencia de seguridad informática que convoca más de 1000 asistentes. Se coordinaron horarios, transporte de materiales, ingresos, convocatoria de alumnos, etc. A cambio los alumnos interesados pudieron asistir a las charlas del evento (sin costo de inscripción).</li>
    <li><strong>PROYECTOS DE INVESTIGACIÓN</strong> - aulas informáticas. Proyecto "Aulas Informáticas de bajo costo para escuelas...". Coordinación de actividades y reportes técnicos. Pruebas en laboratorio. Investigación, especificación y compra de servidor y estaciones clientes.</li>
    <li><strong>PROYECTO DE INVESTIGACIÓN</strong> - monitoreo deportivo y de ancianos. Investigación de tecnologías, trabajo con microcontroladores AVR y radios ZigBee. (Huy/Brengi)</li>
    <li><strong>INFRAESTRUCTURA DEL LACIE</strong> - especificación y solicitud de compra de instrumental y herramientas para el LACIE. Organización del espacio de trabajo, mobiliario y herramientas. Infraestructura informática (servidores de archivo y de impresión. Elementos de seguridad y carteles de advertencia para el sector herramientas. Compra de componentes electrónicos en general.</li>
    <li><strong>CONGRESO MUNDIAL DE INGENIERIA</strong> - participación en la evaluación de trabajos para el congreso mundial de ingeniería, en el área de educación (a pedido del DIIT). (Brengi)</li>
    <li><strong>PROCESADORES DE 32 BITS</strong> - asistencia en la incorporación de procesadores de 32 bits ARM. Diseño de un kit de desarrollo para ARM. (Márquez)</li>
    <li><strong>MUSEO DE ELECTRONICA EN EXPOPROYECTO</strong> - coordinación y organización del Museo de Electrónica. Con la participación del Radio Club de Morón y Rescate Retrobit. (Márquez)</li>
    <li>Se Instalaron los pizarrones de Fibra en el Lab 6, Lab 7 y Lab 9. (Márquez)</li>
    <li>Desarrollo finalizado y probado de una placa en Montaje superficial para implementar un filtro Pasabajo Butterworth de 10 Mhz presentado como proyecto de la Cátedra de Teoría de Redes II. (Márquez)</li>
    <li>
      <strong>CURSO DE PROGRAMACIÓN DE PLC</strong> - se crearon materiales para este curso (manuales, apuntes teóricos y prácticos) (Gómez)
      <ul>
        <li>Fecha 13/septiembre/2010. Curso con 18 participantes.</li>
        <li>Fecha 27/septiembre/2010. Curso con 12 participantes.</li>
        <li>Fecha 15 y 16/noviembre/2010. Prácticas. Con 7 participantes.</li>
      </ul>
    </li>
    <li>Elaboración de Brochures de kits disponibles y herramientas en el LACIE. (Zaradnik)</li>
    <li>Preparación y dictado de Seminario de ARM. (Zaradnik)</li>
    <li>Se participo en el grupo de investigación de control optimo, el cual centra sus esfuerzos en el estudio del principio máximo de Pontryagin. Como resultado de parte de este trabajo se presento un Poster en el decimo segundo Workshop de Investigación en Ciencias de la Computación, el cual se llevo a cabo en mayo de este año. (Zaradnik)</li>
    <li>Asistencia a la construcción de robots para la robolucha.</li>
  </ul>
</div>