<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades 2012</h1>
  </div>
  
  <blockquote>
    <h3>Llegada al laboratorio el siguiente instrumental luego de las gestiones de compra realizadas por el LACIE en 2011</h3>
  </blockquote>
  <dl>
    <dt>Osciloscopio Rigol DS1302CA 2GSa/s 300MHz Digital Oscilloscope</dt>
    <dd>Dos canales. Motivo: Es actualmente el más rápido con el que cuenta el laboratorio.</dd>
    <dt>DS1104B 100 MHz Digital Oscilloscope</dt>
    <dd> 4 canales. Motivo: Es el primero y único con 4 canales analógicos que tiene ahora el laboratorio.</dd>
    <dt>Instek AFG-3051 Arbitrary Function Generator</dt>
    <dd>Hasta 50 Mhz. 50MHz frequency range, 1uHz Resolution. High 200MSa/s sampling rate. 16-bit Amplitude Resolution. Output from any section of 1M-point-long waveforms. 4.3" high-resolution LCD display. Four ways to generate arbitrary waveforms from Front Panel. Operation, CSV file uploading, Direct Waveform Reconstruction (DWR), Arbitrary Waveform Editing PC Software. USB, RS-232, GPIB interface. Motivo: No había nada similar (con tantas características) en el laboratorio.</dd>
  </dl>
  
  <blockquote>
    <h3>Actividades destacadas</h3>
  </blockquote>
  <ul>
    <li>Adquisición de stock básico de capacitores, para facilitar y agilizar las tareas de desarrollo, evitando demoras para conseguir componentes de uso frecuente.</li>
    <li>Adquisición de analizador lógico USB de 32 canales.</li>
    <li>Adquisición de tres fuentes de alimentación de 5V/1A regulados y 0-30V/3A regulables.</li>
    <li>Puesta en marcha de cintas transportadoras para prácticas con PLC.</li>
    <li>Proyecto Cyted-Iberada sobre interfaces hombre máquina para discapacidades. Participando con grupos de latinoamérica.</li>
    <li>Proyecto sobre red de sensores aplicados al agro.</li>
    <li>Colaboración activa en la realización de Congreso Argentino de Sistemas Embebidos 2012. Docente de la UNLaM a cargo de la coordinación general del evento.</li>
    <li>Requerimiento de instalación de KICAD actualizado en todas las PCs de los laboratorios de electrónica.</li>
  </ul>
</div>