<%= erb :"activities/nav" %>

<div class="hero-unit">
  <div class="page-header">
    <h1>Actividades</h1>
  </div>
  
  <blockquote>
    <h3>Desde el año 2005 cuando fue creado, el LACIE colabora y organiza actividades y eventos.</h3>
  </blockquote>
  
  <h4>Actividades periódicas:</h4>
  
  <dl>
    <dt><a href="http://groups.google.com/group/club-de-programadores-unlam">Club de programadores UNLaM</a></dt>
    <dd>
      El objetivo del club es formar un group de programadores para compartir experiencias, información, consejos, formar colaboraciones entre sus miembros y fomentar el espíritu emprendedor dentro de la comunidad.<br/>
      El medio oficial de comunicación es la <a href="http://groups.google.com/group/club-de-programadores-unlam">lista de correo</a> (groupo Google) enlazado anteriormente, medio por el cual se hacen anuncios, se comparte información e inquietudes. Por otro lado, cada dos/tres semanas nos estamos reuniendo en el LACIE (Laboratorios de electrónica -> Lab 5), con el fin de charlar personalmente, intercambiar opiniones sobre nuestro trabajo y darnos una mano mutuamente.<br/>
      Desde ya todo el mundo está invitado a participar, no sólo los (ex-)alumnos o docentes de la UNLaM, sino también integrates de la sociedad en general a los que les apasione la programación. Por cualquier consulta o inquietud, por favor suscribirse y preguntar a la lista.
    </dd>
    <dt>Organización anual de la <a href="http://expo-proyecto.lacie-unlam.org/">ExpoProyecto</a></dt>
    <dd>Una exposición de proyectos de ingeniería de alumnos y docentes, con participación de colegios técnicos secundarios y exposiciones de electrónica e informática.</dd>
    <dt>Organización anual de la Robolucha</dt>
    <dd>Una competencia de robots sumos donde participan alumnos de ingeniería de la UNLaM.</dd>
  </dl>
</div>