<div class="hero-unit">
  <div class="page-header">
    <h1>Reglamento</em></h1>
  </div>
  
  <blockquote>
    <h3>Este reglamento busca sentar las bases de utilización y convivencia dentro del Laboratorio, considerando las limitaciones y recursos actuales del mismo.Se trata de un documento dinámico que irá evolucionando alimentado por las sugerencias de todos sus usuarios.</h3>
  </blockquote>
  
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#objetivo">
          Objetivo del laboratorio abierto
        </a>
      </div>
      <div id="objetivo" class="accordion-body collapse in">
        <div class="accordion-inner">
          Ofrecer un espacio a los alumnos donde puedan desarrollar actividades relacionadas con las carrera de Ingeniería en Electrónica, guiados por el grupo de Docentes integrantes del L.A.C.I.E.<br/>
          El Laboratorio Abierto de la Carrera de Ingeniería en Electrónica, o según sus siglas L.A.C.I.E, ha sido creado con el fin de brindar un espacio dónde el alumno pueda:
          <ul>
            <li>Aprender o practicar haciendo uso del instrumental que se encuentra a su disposición en todo momento.</li>
            <li>Utilizar el instrumental para desarrollar proyectos propios o los que tienen que ver con el desarrollo de T.Prácticos de las distintas materias de la carrera.</li>
            <li>Trabajar con las distintas tecnologías de microcontroladores.</li>
            <li>Participar de charlas organizadas por los Docentes del sector.</li>
            <li>Consultar a los docentes por cuestiones teóricas de la materia que esté dictando, si así fuere.</li>
            <li>Aprender el uso de utilitarios de software libre,que están dentro del laboratorio. Práctica cada vez más explorada en todos los ámbitos y que pueden ser utilizados con las mismas prestaciones que otros paquetes que se encuentran en el mercado.</li>
            <li>Desarrollos de Hardware, Firmware y Software.</li>
          </ul>
          L.A.C.I.E pretende entonces ser un lugar para la creación práctica y teórica al servicio del futuro profesional.<br/>
          Es importante destacar la buena predisposición de todo el grupo docente para servir de apoyo Teórico-Práctico a todos los alumnos que así lo requieran, como también ayudar a los docentes de las distintas materias a preparar el material necesario para realizar los Tp´s de la curricula.
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#seguridad">
          Normas de seguridad y cuidado del laboratorio
        </a>
      </div>
      <div id="seguridad" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <li>Utilizar vestimenta adecuada al lugar. No ingresar en ojotas o sin remera.</li>
            <li>Ser cuidadoso con el manejo del instrumental electrónico.No manipularlo con las manos sucias. El cuidado del mismo favorece a todos.</li>
            <li>Utilizar accesorios de seguridad al trabajar en situaciones de cierto riesgo o con tensiones mayores a 50V.</li>
            <li>No ingerir bebidas y alimentos cerca (1m) de computadoras, teclados, instrumental y herramientas eléctricas.</li>
            <li>Los cestos de basura son solo para elementos sólidos.</li>
            <li>Está prohibida la música al usar instrumental costoso o máquina-herramienta. El laboratorio es un ambiente práctico donde se emplean herramientas e instrumental de distinta índole. Este empleo tiene asociado el riesgo de daño físico, propio, de un tercero o del instrumental mismo. Estos peligros deben ser minimizados, y la música ya sea en forma grupal o individual, genera distracción y favorece a aumentarlos.</li>
            <li>Esta prohibido mover el equipamiento. El emplazamiento del mismo ha sido pensado para obtener el mejor aprovechamiento del laboratorio, por lo que todo cambio en su distribución deberá ser resuelto por el grupo de docentes integrantes del L.A.C.I.E.</li>
            <li>Quienes hagan uso de las instalaciones deberán dejar el área de trabajo en orden y limpia, sin importar el estado previo.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#uso">
          Uso de máquina/herramienta
        </a>
      </div>
      <div id="uso" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <li>Ante cualquier accidente, el laboratorio dispone de un botiquín con elemntos básicos para una atención primaria y de baja complejidad. En caso de accidentes que requieran otro tipo de atención, la universidad posee una enfermería abierta de 8 a 23 horas frente al mástil.</li>
            <li>Priorizar en todo momento la seguridad propia y del otro al utilizar las máquinas.</li>
            <li>Preguntar al personal del laboratorio en caso de dudas sobre la utilización adecuada de las máquinas. La persona que haga una utilización irresponsable de estas será pasible de una sanción, que no le permitrirá usar las instalaciones por un determinado periódo de tiempo, que será proporcional según la gravedad del hecho y estará a criterio de los docentes.Preguntar al personal del laboratorio en caso de dudas sobre la utilización adecuada de las máquinas.</li>
            <li>Usar protectores oculares, auditivos y guantes siguiendo las directivas de las normas de seguridad e higiene laboral. Estos elementos están siempre disponibles sobre la mesa. En caso de no estarlo, abstenerse de usar los equipos y dar aviso al personal del área.</li>
            <li>No dejar encendida una máquina mientras no se esté utilizando.</li>
            <li>Evitar realizar operaciones que generen polvillo o excesiva viruta. En el laboratorio hay equipo electrónico costoso y se trata de un espacio compartido.</li>
            <li>Limpiar siempre el área utilizada luego del uso de la máquina.</li>
            <li>No soplar la viruta o el material remanente. Utilizar pincel o cepillo.</li>
            <li>Recogerse el pelo largo y las mangas para la operación de cualquier máquina.Evitar en lo posible de usar anillos, cadenas u otro elemento colgante que pueda ser arrastrado por alguna de las máquinas utilizadas.</li>
            <li>La máxima cantidad de personas que pueden trabajar simultáneamente sobre una maquina-herramienta es de dos. Un operario y un asistente. El asistente también debe usar las protecciones adecuadas.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#convivencia">
          Normas de convivencia
        </a>
      </div>
      <div id="convivencia" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <li>No fumar dentro del laboratorio.</li>
            <li>Para no molestar al otro, si se desea escuchar música, hacerlo solamente con auriculares, cuando la tarea realizada lo permita.</li>
            <li>No colocar bolsos, mochilas y abrigos arriba de las mesas.</li>
            <li>Hablar y conversar con niveles adecuados de manera tal que las otras personas no se sientan incómodas.</li>
            <li>Evitar obstruir el paso. No utilizar pasillos para sentarse o detenerse a conversar. Tomar asiento para trabajar (salvo uso de máquina-herramienta).</li>
            <li>No sentarse sobre las mesas.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#docente">
          Area docente
        </a>
      </div>
      <div id="docente" class="accordion-body collapse">
        <div class="accordion-inner">
          <ul>
            <li>El área docente es de acceso restringido. Ingresar solamente si hay un docente en la misma y con su autorización.</li>
            <li>Cualquier elemento dentro del área docente que se desee utilizar debe ser solicitado previamente. Tomar elementos de esta área sin permiso expreso de un docente, o del personal a cargo del laboratorio, será considerado una falta grave.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :js do %>
  <script>
    $("#accordion2").collapse(
      toggle: false
    );
  </script>
<% end %>