<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="/img/instrumental/MBT250.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Estación PACE MBT 250</h4>
        <p>Estación de soldado y desoldado regulable. Posee tres canales para trabajar simultáneamente con varios de sus mangos.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_DSC07953.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>DS1104B 100 MHz Digital Oscilloscope</h4>
        <p>4 canales. Es el primero y único con 4 canales analógicos que tiene ahora el laboratorio de electrónica.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_DSC07944.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Osciloscopio Rigol DS1302CA 2GSa/s 300MHz Digital</h4>
        <p>Dos canales. Es actualmente el más rápido que posee el laboratorio de electrónica.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/osciloscopio16canales.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>DS1102D osciloscopio digital</h4>
        <p>2 canales analógicos y 16 digitales, de 100 MHz y 2Gs/s. Primer instrumento con capacidad para 16 canales digitales.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_DSC07956.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Instek AFG-3051 Arbitrary Function Generator</h4>
        <p>Hasta 50 Mhz. 50MHz frequency range, 1uHz Resolution. High 200MSa/s sampling rate. 16-bit Amplitude Resolution.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_dsc07023.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>PHOTO TACHOMETER (LASER) DT2234A</h4>
        <p>LCD de 18mm, 5 dígitos. Precisión ± 0.05% + 1 digito. Tiempo de muestreo 0,5seg (arriba de 120 RPM).</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_dsc07028.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Multímetro UT71B</h4>
        <p>Primer multímetro TRUE RMS del laboratorio de electrónica. Multimetro digital de 20000 cuentas y 4 ½ dígitos. Auto Rating.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/Center301.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Termómetro digital CENTER 301 con termocupla tipo K</h4>
        <p>Rango de medición de –200ºC a 1370ºC. Doble entrada, lo que le permite la conexión de dos termocuplas.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_DSC08470.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>3 Fuentes de salida fija de 5V/1A</h4>
        <p>Regulada regulable de 0-30V/3A con limitación de corriente.</p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_DSC08478.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Analizador lógico de 32 canales</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/LG_dsc07502.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>PLC Twido</h4>
        <p></p>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/calibres.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Calibres digitales (milímetros y pulgadas) para medición de componentes electrónicos.</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/balanzadigital.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Balanza digital para el pesaje de los robots que participan en las competencias de robótica.</h4>
      </div>
    </div>
    <div class="item">
      <img src="/img/instrumental/impresoralaser.jpg" width="300" height="300">
      <div class="carousel-caption">
        <h4>Impresora láser</h4>
        <p>Para realizar circuitos impresos por transferencia térmica e imprimir hojas de datos.</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<% content_for :js do %>
  <script>
    var carousel = $('.carousel').carousel({
      interval: 2000,
      pause: 'hover'
    });
  </script>
<% end %>