<div class="hero-unit">
  <div class="page-header">
    <h1>Contacto</h1>
  </div>
  
  <blockquote>
    <h3>Los docentes del LACIE están en el Laboratorio de electrónica Nro 5</h3>
  </blockquote>
  
  <ul>
    <li>Las actividades del lacie (cursos, avisos, eventos, etc) se difunden por la lista de correo del grupo Yahoo (es un boletín, no se puede postear).</li>
    <li>Para entrar en contacto con el lacie, realizar propuestas, consultas, comentarios, asesoramientos, etc. existe esta lista (se puede postear a todos los integrantes de la lista)</li>
  </ul>
  
  <address>
    <strong>Universidad Nacional de La Matanza, Florencio Varela 1903 - (B1754JEC) San Justo</strong><br/>
    Pcia. Buenos Aires, República Argentina<br/>
  </address>
</div>