<div class="hero-unit">
  <div class="page-header">
    <h1>
      LACIE <small>Laboratorio Abierto de la Carrera de Ingeniería Electrónica</small>
      <img src="/img/lacie.png"/>
    </h1>
  </div>
  
  <blockquote>
    <h3>El LACIE tiene como objetivo Intensificar la realización de experiencias prácticas por parte de los alumnos, complementando las que normalmente se realizan en cada una de las cátedras.</h3>
  </blockquote>
  
  <h4>Las actividades a desarrollar serán:</h4>
  
  <ul>
    <li>Mejoramiento de las capacidades técnicas y funcionales de los laboratorios de electrónica.</li>
    <li>Difusión y promoción de actividades que mejoren o complementem las capacidades técnicas de alumnos y docentes.</li>
    <li>Incorporación de nuevas tecnologías.</li>
    <li>Desarrollo de hardware educativo para complementar o incorporar a las distintas asignaturas.</li>
    <li>Apoyo a los proyectos que encaren los estudiantes en las distintas materias, ya sean sugeridos por ellos o por el LACIE.</li>
    <li>Realización de servicios y desarrollos para terceros.</li>
  </ul>
  
  El LACIE depende de la coordinación de la carrera de Ingeniería Electrónica, dependiente del Departamento de Ingeniería e Investigaciones Tecnológicas de la Universidad Nacional de La Matanza. Sus docentes trabajan y se reúnen en el laboratorio 5 de Electrónica.
</div>

<%= erb :carousel %>