<div class="hero-unit">
  <div class="page-header">
    <h1>Publicaciones</h1>
  </div>
  
  <blockquote>
    <h3>Algunas publicaciones del LACIE y/o de sus integrantes</h3>
  </blockquote>
  
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#2011" data-toggle="tab">2011</a></li>
      <li><a href="#2010" data-toggle="tab">2010</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="2011">
        <dl>
          <dt>Dispositivo no invasivo para el monitoreo continuo y remoto de personas con movilidad disminuída</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd>Sergio N. Gwirc, Diego Brengi, Daniel Lupi, Christian Huy</dd>
              <dt><span class="label label-important">Evento</span></dt>
              <dd>Iberdiscap 2011, VI Congreso Tecnologías de Apoyo a la Discapacidad</dd>
              <dt><span class="label label-success">Fecha y lugar</span></dt>
              <dd>16-17 de junio de 2011, Palma de Mallorca, España</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2011/iberdiscap2011_Dispositivo_para_monitoreo.pdf">Enlace</a></dd>
            </dl>
          </dd>
          <dt>Work in Progress The Organization of a Symposium that Supports Faculty Development in the Embedded-Systems Field</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd><Ariel Lutenberg, Julian Bruno, Juan Manuel Cruz, Ignacio Zaradnik, Diego Brengi/dd>
              <dt><span class="label label-important">Evento</span></dt>
              <dd>FIE 2011, 41st Annual Frontiers in Education Conference</dd>
              <dt><span class="label label-success">Fecha y lugar</span></dt>
              <dd>October 12–15, 2011, Rapid City, South Dakota, EEUU</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2011/FIE2011_CASE.pdf">Enlace</a></dd>
            </dl>
          </dd>
          <br/>
          <dt>II Congreso de Microelectrónica Aplicada, <a href="http://www.ing.unlp.edu.ar/uea2011/">uEA2011</a>. La Plata, Pcia. de Buenos Aires, Argentina, 7 al 9 de Septiembre de 2011</dt>
          <dd>
            Trabajos publicados en el libro "Libro de Memorias: II Congreso de Microelectrónica Aplicada 2011", ISBN 978-950-34-0749-3, 300p, 30x21cm. Editores: Quijano, Rapallini y Namiot.
          </dd>
          <br/>
          <dt>Competencia de sumo robot para la enseñanza de electrónica y robótica práctica</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd>Diego Brengi, Néstor Mariño, Christian Huy, Rodrigo Gómez, Gerardo García, Marcelo Márquez, Ignacio Zaradnik</dd>
              <dt><span class="label label-success">Fecha y lugar</span></dt>
              <dd>Universidad Nacional de La Matanza (UNLaM), Departamento de Ingeniería e Investigaciones Tecnológicas (DIIT), Laboratorio Abierto de la Carrera de Ingeniería Electrónica (LACIE)</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2011/uEA2011_Robolucha.pdf">Enlace</a></dd>
            </dl>
          </dd>
          <dt>Módulo de LEDs para iluminación pública</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd>Aurelio, Damián Alberto; Morales, Pablo Nicolás; Tantignone Hugo; Zaradnik, Ignacio José</dd>
              <dt><span class="label label-success">Fecha y lugar</span></dt>
              <dd>Universidad Nacional de La Matanza (UNLaM), Departamento de Ingeniería e Investigaciones Tecnológicas (DIIT), Cátedra de Tecnología Electrónica</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2011/uEA2011_Modulo_de_Leds.pdf">Enlace</a></dd>
            </dl>
          </dd>
        </dl>
      </div>
      <div class="tab-pane" id="2010">
        <dl>
          <dt>Desarrollo de un Dispositivo Inalámbrico para la Estimación del Gasto Energético por Actividad Física Mediante Acelerometría</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd>Daniel Lupi, Sergio Gwirc, Diego Brengi, Fernando Marsilli and Christian Huy</dd>
              <dt><span class="label label-important">Evento</span></dt>
              <dd>Iberchip 2010, XVI Workshop Iberchip</dd>
              <dt><span class="label label-success">Fecha y lugar</span></dt>
              <dd>23 al 25 de Febrero de 2010, Iguazú, Brasil</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2010/iberchip_2010_Analisis_caminarV3.pdf">Enlace</a></dd>
              <dt><span class="label label-info">Poster</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2010/iberchip_2010_GastoEnergeticov2.pdf">Enlace</a></dd>
            </dl>
          </dd>
          <dt>Síntesis de Contro Optimo</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd>Reinaldo Paganitts Llanes, Hugo Ryckeboer, José A. Rzepa, Ignacio J. Zaradnik</dd>
              <dt><span class="label label-important">Evento</span></dt>
              <dd>WICC 2010 XII Workshop de Investigadores en Ciencias de la Computación</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2010/WICC2010_Resumen.pdf">Enlace</a></dd>
              <dt><span class="label label-info">Poster</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2010/WICC2010_Poster.pdf">Enlace</a></dd>
            </dl>
          </dd>
          <dt>Implementación de un teclado capacitivo a través del principio de oscilador de relajación</dt>
          <dd>
            <dl class="dl-horizontal">
              <dt><span class="label">Autores</span></dt>
              <dd>Ignacio José Zaradnik, Hugo Tantignone, Alejandro Calveyra, Ángel Carreira, Alberto Miguens, Fernando Javier Fariña, Horacio Jorge Pascoli, Tenuta, Matías Facundo, Ballanti, Javier Alejandro</dd>
              <dt><span class="label label-important">Evento</span></dt>
              <dd>uEA2010, Primer Congreso de Microelectrónica Aplicada</dd>
              <dt><span class="label label-inverse">Paper</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2010/uEA2010_Capacitivo_Trabajo.pdf">Enlace</a></dd>
              <dt><span class="label label-info">Resúmen</span></dt>
              <dd><a href="http://lacie-unlam.org/publicaciones/2010/uEA2010_Capacitivo_Resumen.pdf">Enlace</a></dd>
            </dl>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>