div#myCarousel {
  text-align: center;
}

.carousel .item > img {
  display: inline;
}

.sidebar-nav-fixed {
  padding: 9px 0;
  position:fixed;
  left:20px;
  top:60px;
  width:23.2%;
}

.row-fluid > .span-fixed-sidebar {
  margin-left: 290px;
}

div.caption h5 {
  text-align: center;
}

div.caption p {
  font-size: small;
}

div.event {
  margin-top: 30px;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}

div.event p {
  font-style: italic;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.header-logo {
  padding-top: 3px;
  float: right;
}